*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --primary-color:rgb(254, 179, 41);
      --background-color:rgb(238, 224, 227);
      --text-color:rgb(102, 102, 102);
}

header{
      width: 100%;
      background-color: var(--background-color);
}
.main{
      width: 100%;
}
.main nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 80px;
}
.web-name{
      font-size: 40px;
      font-weight: 700;
}
.header-paragraph{
      color: var(--text-color);
}
nav ul{
      display: flex;
      list-style: none;
}
ul li{
      padding: 20px;
}
li a{
      text-decoration: none;
      font-size: 20px;
      color: black;
}
.header-content{
      text-align: center;
      padding: 10px 230px;
}
.header-heading{
      font-size: 4em;
}
.header-paragraph{
      margin: 25px;
      font-size: 18px;
}
.primary{
      background-color: var(--primary-color);
      border: none;
      padding: 18px 30px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
}
.main img{
      width: 62%;
      margin-left: 19%;
      
}

.feature-main{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 30px;
}
.feature-left{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
}
.feature-right{
      padding: 0 30px;
}
.featured-heading{
      font-size: 3em;
      color: var(--text-color);
      font-weight: 500;
}
.feature-paragraph{
      margin: 20px 0;
      color: var(--text-color);
}
b{
      font-weight: bold;
      color: black;
}
span{
      color: var(--primary-color);
}

            /* responsive */

@media screen and (max-width: 576px) {
      .main nav{
            padding: 12px;
      }
      li{
            padding: 7px;
      }
      .header-content {
            padding: 10px 50px;
        }

      .feature-main{
            flex-direction: column;
      }
      
      .feature-left{
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    .feature-right{
       margin: 30px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
      ul li {
            padding: 10px;
        }
        .header-content {
            padding: 10px 50px;
        }

        .feature-main{
            flex-direction: column;
      }
      .feature-right{
            margin: 30px 0;
      }
}